@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* NavBar */

.navbar-line {
   border-right: 1px solid #eef0f2;
}

.navbar-style {
    font-family: 'Playfair Display';
    letter-spacing: 5px;
    font-size: 16px;
}
