.home {
    width: 100vw;
    min-height: 100vh;
    background: url(assets/img8.jpg) no-repeat center center fixed; 
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

/* NavBar */

.navbar-line {
   border-right: 1px dashed #9373aacc;
}
